[defaults]
inventory = inventory.ini
host_key_checking = False
stdout_callback = default
display_skipped_hosts = False
retry_files_enabled = False
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
