<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="Console" />
  </root>
  <appender name="Console" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Gray" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%mo%n" />
      <converter>
        <name value="mo" />
        <type value="Namespace2Xml.MessageObjectConverter, Namespace2Xml" />
      </converter>
    </layout>
  </appender>
</log4net>
